.quit-game-button {
	-fx-background-color: linear-gradient(to top, #ef0b49, #f07c4d);
}

.join-game-button {
	-fx-background-color: linear-gradient(to top, #0edb96, #2dff9a);
}

.show-instructions-button {
	-fx-background-color: linear-gradient(to top, #f07c4d, #ebc54d);
}

.button {
	-fx-text-fill: #ffffff;
	-fx-font-size: 25px;
	-fx-font-weight: bold;
	-fx-background-radius: 20px;
	-fx-border-radius: 20px;
	-fx-cursor: pointer;
}

.initial-screen-container {
	-fx-content-display: center;
	-fx-padding: 10 ;
	-fx-background-color: radial-gradient(center 50% 50%, radius 80%, #a400ff 0%, #220065 100%);
}

.initial-screen-label {
	-fx-font-size: 13px;
	-fx-text-fill: #ffffff;
	-fx-font-weight: bold;
}

.buttons-container {
	-fx-content-display: center;
	-fx-padding: 10 ;
}

.instructions-label {
	-fx-font-size: 30px;
	-fx-text-fill: #ffffff;
	-fx-font-weight: bold;
	-fx-text-alignment: center;
}

.instruction-paragraph {
	-fx-text-fill: #ffffff;
}

.join-game-helper-text {
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-text-fill: #ffffff;
}